.shape-circular-wave {
  position: absolute;
  &.shape-size-100 {
    width: 100%;
    height: 100%;
  }
  &.shape-tl {
    bottom: 100%;
    right: 100%;
    transform: translate(50%, 50%);
  }
  &.shape-br {
    top: 100%;
    left: 100%;
    transform: translate(-50%, -50%);
  }
  &.shape-cc {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &.shape-cl {
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
  }
  &.shape-cr {
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
  }
  .shape-inner {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
  }
  .shape-item {
    position: absolute;
    top: 50%;
    left: 50%;

    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    &.shape-1 {
      transform: translate(-50%, -50%) scale(0);
      animation: hero-circular-wave 24s infinite;
      background-color: var(--#{$prefix}shape-color);
    }
    &.shape-2 {
      transform: translate(-50%, -50%) scale(0);
      animation: hero-circular-wave 24s infinite;
      animation-delay: 4s;
      background-color: var(--#{$prefix}shape-color);
    }
    &.shape-3 {
      transform: translate(-50%, -50%) scale(0);
      animation: hero-circular-wave 24s infinite;
      animation-delay: 8s;
      background-color: var(--#{$prefix}shape-color);
    }
    &.shape-4 {
      transform: translate(-50%, -50%) scale(0);
      animation: hero-circular-wave 24s infinite;
      animation-delay: 12s;
      background-color: var(--#{$prefix}shape-color);
    }
    &.shape-5 {
      transform: translate(-50%, -50%) scale(0);
      animation: hero-circular-wave 24s infinite;
      animation-delay: 16s;
      background-color: var(--#{$prefix}shape-color);
    }
    &.shape-6 {
      transform: translate(-50%, -50%) scale(0);
      animation: hero-circular-wave 24s infinite;
      animation-delay: 20s;
      background-color: var(--#{$prefix}shape-color);
    }
  }
}
.shape-white {
  --#{$prefix}shape-color: var(--#{$prefix}white);
}
.shape-primary {
  --#{$prefix}shape-color: var(--#{$prefix}primary);
}
@keyframes hero-circular-wave {
  0% {
    opacity: 0.2;
    transform: translate(-50%, -50%) scale(0);
  }
  100% {
    opacity: 0.01;
    transform: translate(-50%, -50%) scale(1);
  }
}


.animate-rotate {
  .rotate-1,
  .rotate-2,
  .rotate-3,
  .rotate-4 {
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: all 0s ease-in-out !important;
  }
  .rotate-1 {
    border: 1px solid rgba(255, 255, 255, 0.08);
    width: 50vh;
    height: 50vh;
  }
  .rotate-2 {
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 70vh;
    height: 70vh;
    .inner {
      transform: rotate(60deg);
    }
    .circle {
      width: 1.5rem;
      height: 1.5rem;
      top: 100%;
      left: 50%;
      transform: translate(50%, -50%);
    }
  }
  .rotate-3 {
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 70vh;
    height: 70vh;
    .inner {
      transform: rotate(220deg);
    }
    .circle {
      width: 2rem;
      height: 2rem;
      top: 100%;
      left: 50%;
      transform: translate(50%, -50%);
    }
  }
  .rotate-4 {
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 90vh;
    height: 90vh;
    .inner {
      transform: rotate(260deg);
    }
    .circle {
      width: 2rem;
      height: 2rem;
      top: 100%;
      left: 50%;
      transform: translate(50%, -50%);
    }
  }
  .inner {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    .circle {
      position: absolute;
      border-radius: 100%;
      background-color: var(--#{$prefix}white);
    }
  }
}
.rotate-1 {
  transform: translate(-50%, -50%) rotate(0);
}
.rotate-2 {
  transform: translate(-50%, -50%) rotate(0);
  animation: rotate-l 180s infinite;
}
.rotate-3 {
  transform: translate(-50%, -50%) rotate(0);
  animation: rotate-l 120s infinite;
}
.rotate-4 {
  transform: translate(-50%, -50%) rotate(0);
  animation: rotate-r 240s infinite;
}
.hero {
  .shape-circular-wave {
    width: 100vh;
    height: 100vh;
  }
}
@include media-breakpoint-up(lg) {
  .hero {
    .shape-circular-wave {
      width: 90vw;
      height: 90vw;
    }
  }
}
@keyframes rotate-l {
  0% {
    transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    transform: translate(-50%, -50%) rotate(720deg);
  }
}
@keyframes rotate-r {
  0% {
    transform: translate(-50%, -50%) rotate(720deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(0);
  }
}

.sway-r {
  animation: sway-r 8s infinite;
}

@keyframes sway-r {
  0% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}

.sway-l {
  animation: sway-l 6s infinite;
}
@keyframes sway-l {
  0% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(5deg);
  }
}
.animate-rotate-2 {
  display: flex;
  width: 100%;
  padding-top: 100%;
  animation: rotate-l 180s infinite;
  .circle {
    width: 1.25rem;
    height: 1.25rem;
    background-color: var(--#{$prefix}primary);
  }
}
.animate-rotate-3 {
  display: flex;
  width: 130%;
  padding-top: 100%;
  animation: animate-rotate-3 120s infinite;
  .circle {
    width: 1rem;
    height: 1rem;
    background-color: var(--#{$prefix}primary);
  }
}
@keyframes animate-rotate-3 {
  0% {
    transform: translate(-50%, -50%) rotate(90deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(810deg);
  }
}

.animate-rotate-4 {
  display: flex;
  width: 150%;
  padding-top: 100%;
  animation: animate-rotate-4 140s infinite;
  .circle {
    width: 1rem;
    height: 1rem;
    background-color: var(--#{$prefix}primary);
  }
}

@keyframes animate-rotate-4 {
  0% {
    transform: translate(-50%, -50%) rotate(250deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(970deg);
  }
}
.updown-1 {
  animation: updown-10 9s infinite;
}
.updown-2 {
  animation: updown-10 12s infinite;
}
@keyframes updown-10 {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}